<div class="site-sidebar">
	<img class="profile-pic" src="{{ site.baseurl }}/assets/swordfish.svg">
	<div class="site-name"> {{ site.title }}</div>
	<ul class="sidebar-nav">
				<a class="page-link" href="{{ site.url }}">home</a> &nbsp;&nbsp;
				<a class="page-link" href="{{ site.url }}/work">work</a> &nbsp;&nbsp;
				<a href="{{ site.url }}/hobby">hobby</a> &nbsp;&nbsp;
				<a href="{{ site.url }}/archive">archive</a> &nbsp;&nbsp;
				<a href="{{ site.url }}/about">about</a> &nbsp;&nbsp;
	</ul>
</div>